parameters:
    database_driver:   pdo_mysql
    database_host:     db_tictactoe
    database_port:     3306
    database_name:     tictactoe
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            es
    secret:            ThisTokenIsNotSoSecretChangeIt
